<div class="header">
    <div class="logo">
        <img src="logo.png" alt="Logo" height="70px" WIDTH="70px">
        <h1>MumbaiTrip</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="climate.html">Climate</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="/channel">{{channelname}}</a></li>

        </ul>
    </nav>
    <form action="">
        <button type="submit"  style="background-color: rgb(0, 255, 4);">sign In</button>
    </form>
</div>